@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
:root {
	--test-frame: 1px solid black;
}
* {
	margin: 0;
	padding: 0;
}
body {
	max-width: 1440px;
	min-width: 375px;
	margin: auto;
	font-family: "Outfit", sans-serif;
	background-color: hsl(212, 45%, 89%);
}

img {
	width: 100%;
	border-radius: 10px;
}

h1 {
	margin: 20px 20px 0;
	color: hsl(218, 44%, 22%);
	font-size: 22px;
}

p {
	font-size: 15.5px;
	font-weight: 400;
	color: hsl(220, 15%, 55%);
	margin: 15px 30px;
	line-height: 1.25;
}
.container {
	border-radius: 20px;
	width: 320px;
	background-color: hsl(0, 0%, 100%);
	box-sizing: border-box;
	margin: 152px auto;
	padding-bottom: 24px;
	box-shadow: 0 20px 25px 10px rgba(122, 122, 122, 0.1);
}
.main-img {
	width: 100%;
	padding: 16px 16px 0 16px;
	box-sizing: border-box;
}
.aligned {
	text-align: center;
}
