@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
:root {
	--test-frame: 1px solid black;
}
* {
	margin: 0;
	padding: 0;
}
body {
	max-width: 1440px;
	min-width: 375px;
	margin: auto;
	font-family: "Outfit", sans-serif;
	background-color: hsl(212, 45%, 89%);
}

.container {
	border-radius: 20px;
	padding: 16px;
	width: 320px;
	background-color: hsl(0, 0%, 100%);
	box-sizing: border-box;
	margin: 85px auto;
}
img {
	width: 100%;
	border-radius: 10px;
}
p,
h1 {
	margin: 20px 15px;
}
h1 {
	color: hsl(218, 44%, 22%);
	font-size: 22px;
}
p {
	font-size: 15px;
	font-weight: 400;
	color: hsl(220, 15%, 55%);
}
.aligned {
	text-align: center;
}
